pydantic==2.9.2
fastapi==0.115.3
pydantic-settings==2.6.0
asyncpg==0.30.0
uvicorn==0.32.0
sqlalchemy[asyncio]
pyjwt[crypto]
passlib==1.7.4
bcrypt==3.2.0
sqladmin==0.20.1
itsdangerous==2.2.0
dependency_injector==4.45.0
-e ../../common/python
