html,
body,
#app {
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  height: fit-content;
  overscroll-behavior: none;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  font-synthesis: style;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

html.dark {
  color-scheme: dark;
}

.disable-scroll {
  overflow: hidden !important;
}

.switch:hover {
  border-color: var(--input-border-hover-color) !important;
  transition: 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
