html,
body,
#app {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  overscroll-behavior: none;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  font-synthesis: style;
  text-rendering: optimizeLegibility;
}

body {
  overflow-y: auto;
}

a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

html.dark {
  color-scheme: dark;
}

:root {
  --input-switch-bg-color: var(--gray-soft);
  --input-border-hover-color: var(--highlight-color);
  --code-bg: var(--gray-soft);
  --code-color: var(--highlight-color);
  --code-note-color: var(--yellow);
  --code-note-bg: var(--yellow-soft);
}

:root {
  --bg-block: #ffffff;
  --neutral-inverse-color: #ffffff;
  --bg-alt: #f6f6f7;
  --menu-bg: #ffffff;
}
.dark {
  --bg-block: #1b1b1f;
  --neutral-inverse-color: #000000;
  --bg-alt: #161618;
  --menu-bg: #202127;
}

:root {
  --text-color-1: rgba(60, 60, 67);
  --text-color-2: rgba(60, 60, 67, 0.78);
  --text-color-3: rgba(60, 60, 67, 0.56);
}
.dark {
  --text-color-1: rgba(255, 255, 245, 0.86);
  --text-color-2: rgba(235, 235, 245, 0.6);
  --text-color-3: rgba(235, 235, 245, 0.38);
}

:root {
  --gray-soft: rgba(142, 150, 170, 0.14);
  --yellow: #915930;
  --yellow-soft: rgba(234, 179, 8, 0.14);
}
.dark {
  --gray-soft: rgba(101, 117, 133, 0.16);
  --yellow: #f9b44e;
  --yellow-soft: rgba(234, 179, 8, 0.16);
}

:root {
  --highlight-color: #3451b2;
  --highlight-color-lighter: var(--highlight-color);
  --highlight-color-lightest: #3a5ccc;
  --divider-color: #e2e2e3;
  --input-border-color: #c2c2c4;
}
.dark {
  --highlight-color: #a8b1ff;
  --highlight-color-lighter: #9499ff;
  --highlight-color-lightest: #bcc0ff;
  --divider-color: #2e2e32;
  --input-border-color: #3c3f44;
}

:root {
  --font-family-base: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --sidebar-width: 230px;
  --headbar-height: 64px;

  --shine-gradient: linear-gradient(
    90deg,
    var(--text-color-3) 45%,
    var(--text-color-2) 50%,
    var(--text-color-3) 55%
  );
}

.switch:hover {
  border-color: var(--input-border-hover-color) !important;
  transition: 0.3s;
}

/* #region Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
/* #endregion */
